#Python Basics

Que 1.Explain the key features of Python that make it a popular choice for programming ?

**Ans**- Python is a programming language that is easy to understand and write, making it a popular choice among developers and programmers.

**Key fetures of Python-**

1. Easy to Learn and Use : Python's syntax is designed to be intuitive and readable, making it a popular choice for beginners.

2. Interpreted Language : Python is executed line by line, which makes debugging easier.

3. Open Source and Free : Python is freely available and open-source, allowing anyone to use, distribute, and modify the code.

4. Object-Oriented Programming : Python supports object-oriented programming, allowing developers to structure code into reusable, modular units.

5. High-Level Language: Python allows developers to focus on problem-solving without needing to handle low-level details like memory management.

6. Extensive Standard Library: Python comes with a rich collection of built-in modules and libraries that provide a wide range of functionalities.

7. Large Community Support: A large and active community provides ample resources, support, and contributions to the Python ecosystem.

8. Multipurpose: Python can be used in various fields, including web development, data science, machine learning, and more.

Que 2. Describe the role of predefined keywords in Python and provide examples of how they are used in a program ?

Ans- Predefined keywords are special reserved words in Python that have a specific meaning and purpose. You cannot use them as variable names, because Python uses them to define the syntax and structure of the language.

Examples of keywords :- if, else, while, for, def, class, import, try, except, return, True, False, None, etc.

Here are some common examples and their uses :
1. Control Flow Keywords:


*  **if, else, elif** : These keywords are used for conditional branching, allowing
the program to execute different blocks of code based on a condition.

In [ ]:
# Example
age = 18
if age>=18:
  print("Adult")
else:
  print("Minor")

Adult

In [ ]:
# Check if a number is positive, negative, or zero
number = 5
if number > 0:
  print("The number is positive.")
elif number < 0:
  print("The number is negative.")
else:
  print("The number is zero.")

The number is positive.


* **for, while** : These keywords are used to create loops, which repeat a block of code multiple times.

In [ ]:
# Example:

for i in range(1,4):
    print(i)

1
2
3

In [ ]:
n=0
while n<=4:
  print(n)
  n +=1

0
1
2
3
4

* **break, continue** : These keywords control the flow of loops, allowing the program to exit a loop prematurely or skip to the next iteration.

In [ ]:
for i in range(10):
            if i == 5:
                break  # Exit the loop
            print(i)

0
1
2
3
4

2. Function and Class Definition Keywords :
*  **def** : This keyword is used to define a function.

In [ ]:
#Example
def greet(name):
  print("Hello, " + name + "!")

greet("Prince")

Hello, Prince!

3.Other Keywords:

* **True, False, None**: These keywords represent boolean values and the absence of a value, respectively.

* **in**: This keyword is used in the context of membership testing (checking if an element is in a sequence or container).

Que 3.Compare and contrast mutable and immutable objects in Python with examples?

Ans - **Mutable Objects :**
* **Definition** : Objects that can be Changed after they've been created.
* **Memory** : Generally more efficient in memory as they don't require  
  creating new
  objects for changes.
* **Modification :** Modifying a mutable object doesn't change its memory
  address; the changes are made in place.
* **Examples :** Lists, dictionaries, and sets.

In [ ]:
# Example
my_list = [1, 2, 3] # firstly create a list.

In [ ]:
print(my_list)

[1, 2, 3]

In [ ]:
my_list[1]=5

In [ ]:
print(my_list) #5 is changed inplace of 2

[1, 5, 3]

**Immutable Objects :**
* **Definition :** Objects whose value cannot be changed once they are created.
* **Memory :** May use more memory as new objects are created when  
  modifications are
  needed.
* **Modification :** Modifying an immutable object creates a new object with  
  the modified value, and any references to the original object remain unchanged.
*Examples : **bold text** Integers, floats, strings, tuples, and frozensets.

In [ ]:
#example
my_tuple = (1, 2, "hello", True) #firstly create a tuple.
print(my_tuple)

(1, 2, 'hello', True)

In [ ]:
my_tuple[0]=3 # it showing error because tuples are immutable and can not change the element.

TypeError: 'tuple' object does not support item assignment

Que 4. Discuss the different types of operators in Python and provide examples of how they are used ?

Ans - 1. **Arithmetic Operators:** These operators perform basic mathematical
         calculations.

*   Addition(+) :- 6 + 2=8
*   Subtraction(-) :- 6 - 2=4
*   Multiplication(*) :-6 * 2 = 12
*   Division(/) :- 6 / 2 = 3
*   Floor Division(//) :- returns the integer part of the division.(6//2=3)
*   Modulus(%) :- returns the remainder of the division(6 % 2 = 0)
*   Exponentiation(**) :- raises the first number to the power of the second.  (6 ** 2 = 36)

In [ ]:
a = 6
b = 2
# Addition
print ("a + b : ", a + b)
# Subtraction
print ("a - b : ", a - b)
# Multiplication
print ("a * b : ", a * b)
# Division
print ("a / b : ", a / b)
# Modulus
print ("a % b : ", a % b)
# Exponent
print ("a ** b : ", a ** b)
# Floor Division
print ("a // b : ", a // b)

a + b :  8
a - b :  4
a * b :  12
a / b :  3.0
a % b :  0
a ** b :  36
a // b :  3

2. **Comparison Operators:** These operators compare values and return a  
  boolean value (True or False).


*   Equal to(==) :- 4==5,return false
*   Not equal to(!=) :- 4!=5,return true
*   Greater than(>) :- 4> 5,returns false
*   Less than(<) :-4 < 5 ,returns True
*   Greater than or equal to(>=) :- 4 >= 5,returns false
*   less than equal to(<=) :- 4 <= ,return true

In [ ]:
a = 4
b = 5
# Equal
print ("a == b : ", a == b)
# Not Equal
print ("a != b : ", a != b)
# Greater Than
print ("a > b : ", a > b)
# Less Than
print ("a < b : ", a < b)
# Greater Than or Equal to
print ("a >= b : ", a >= b)
# Less Than or Equal to
print ("a <= b : ", a <= b)

a == b :  False
a != b :  True
a > b :  False
a < b :  True
a >= b :  False
a <= b :  True

**3. Assignment Operators :** These operators assign values to variables.


*   =: Assigns the value on the right to the variable on the left (e.g., x = 5)
*   +=: Adds the value on the right to the variable on the left and assigns the
  result (e.g., x += 3 is equivalent to x = x + 3)
* -=: Subtracts the value on the right from the variable on the left and  
  assigns the result (e.g., x -= 2 is equivalent to x = x - 2)  
* *= : Multiplies the variable on the left by the value on the right and  
  assigns the result.
* /= : Divides the variable on the left by the value on the right and assigns
  the result.  
* %= : Calculates the modulus of the variable on the left with the value on the
  right and assigns the result.
* **= : Raises the variable on the left to the power of the value on the right
  and assigns the result.
* //= : Performs floor division on the variable on the left with the value on
  the right and assigns the result.

In [ ]:
# Assignment Operator
a = 10
# Addition Assignment
a += 5
print ("a += 5 : ", a)
# Subtraction Assignment
a -= 5
print ("a -= 5 : ", a)
# Multiplication Assignment
a *= 5
print ("a *= 5 : ", a)
# Division Assignment
a /= 5
print ("a /= 5 : ",a)
# Remainder Assignment
a %= 3
print ("a %= 3 : ", a)
# Exponent Assignment
a **= 2
print ("a **= 2 : ", a)
# Floor Division Assignment
a //= 3
print ("a //= 3 : ", a)

a += 5 :  15
a -= 5 :  10
a *= 5 :  50
a /= 5 :  10.0
a %= 3 :  1.0
a **= 2 :  1.0
a //= 3 :  0.0

**4. Logical Operators:** These operators combine or modify boolean  
   expressions.


*   and: Returns True if both operands are True (e.g., True and True returns
    True)
*   or: Returns True if at least one operand is True (e.g., True or False
    returns True)
*   not: Inverts the boolean value (e.g., not True returns False)

In [ ]:
x = 5
y = 10
z = 15

In [ ]:
x < y and y < z #true and true - true

True

In [ ]:
x < y or x > z #true or false - true

True

In [ ]:
not(x < y) #not(true) - false

False

In [ ]:
not(x > y) #not(false) - true

True

**5. Identity Operators :** These operators check if two objects are the same
  object in memory.


*   is: Returns True if the two operands refer to the same object (e.g., x is y if x and y point to the same memory location).

*   is not: Returns True if the two operands do not refer to the same object.

In [ ]:
x=10
y=10
x is y

True

In [ ]:
x=4
y=4
x is not y

False

6. **Membership Operators :** These operators test if a value is a member of a sequence (like a list, tuple, string, etc.).


*   in: Returns True if the value is found in the sequence (e.g., 5 in [1, 2, 5] returns True)
*   not in: Returns True if the value is not found in the sequence (e.g., 7 not in [1, 2, 5] returns True)

In [ ]:
fruits = ["apple", "banana", "cherry"]

"banana" in fruits

True

In [ ]:
fruits = ["apple", "banana", "cherry"]

"apple" not in fruits

False

Que 5. Explain the concept of type casting in Python with examples ?

Ans- Type Casting, also known as type conversion, is the process of converting  
a value from one data type to another. It's often necessary when you need to perform operations that require specific data types, like adding an integer and a float, or when working with user input that is initially a string.

1. Explicit Type Casting: Done manually by the programmer.

In [ ]:
#Converting a string to an integer.
a = "2"
print(type(a))

<class 'str'>

In [ ]:
int(a)

2

In [ ]:
#Converting a integer to float.
a = 2
type(a)

int

In [ ]:
b = float(a)
b

2.0

In [ ]:
type(b)

float

In [ ]:
#string to float
a = "2.3"
type(a)

str

In [ ]:
b = float (a)
b

2.3

In [ ]:
type(b)

float

**Implicit Type Casting :** done automatically by Python

In [ ]:
a=5
b=3.5
c=a+b
print(c)

8.5

In [ ]:
type(c)

float

Que 6. How do conditional statements work in Python? Illustrate with examples ?

Ans -Conditional statements in Python, like if, elif, and else, allow programs to execute different blocks of code based on whether a condition is true or false.

1.if Statement : The if statement checks a condition, and if it's true, the code inside its block is executed.

In [ ]:
#Example
age = 20
if age >= 18:
    print("You are eligible to vote.")

You are eligible to vote.

**2. elif statement : **The elif (short for "else if") allows you to check multiple conditions sequentially.**bold text**

In [ ]:
score = 85
if score >= 90:
    print("Grade A")
elif score >= 80:
    print("Grade B")
elif score >= 70:
    print("Grade C")
else:
    print("Grade D")

Grade B

3. **else Statement :** The else statement provides a default block of code to run if none of the previous conditions are true.

In [ ]:
temperature = 25
if temperature > 30:
    print("It's hot outside.")
else:
    print("It's cool.")

It's cool.

Que 7.Describe the different types of loops in Python and their use cases with examples?

Ans- 1. **For Loop :**
Use Case: Ideal when you know how many times you want to execute the loop or when iterating through a sequence.

In [ ]:
# Example
names = ["Ram","Shyan","Hari"]
for name in names:
  print(name)

Ram
Shyan
Hari

2. While Loop:
Use Case: Useful when you need to repeat a block of code until a specific condition is met, but you don't know in advance how many iterations will be required.

In [ ]:
count = 1
while count <= 5:
  print(count)
  count +=2

1
3
5

3. Nested Loops:
Use Case: A loop within another loop, useful for tasks involving multi-dimensional data or patterns.

In [ ]:
for i in range(3):
        for j in range(2):
            print(f"i: {i}, j: {j}")

i: 0, j: 0
i: 0, j: 1
i: 1, j: 0
i: 1, j: 1
i: 2, j: 0
i: 2, j: 1